* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

nav {
    background-color: #192650;
}

.nav-link {
    color: aliceblue;
}

.navbar-brand {
    font-weight: bolder;
    color: aliceblue;
}

.navbar-nav .nav-item .active-link,
.navbar-nav .nav-item .active-link:hover {
    color: white;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.navbar-brand:hover {
    color: rgb(255, 255, 255);
}

.navbar-collapse.show .navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.navbar-collapse .navbar-nav {
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b8cddf;
    border-radius: 12px;
    padding: 10 0px;
    padding-top: 10px;
    padding-bottom: 4px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
    margin: 30px;
    text-align: center;
}

.positionCol,
.amountCol,
.nameCol {
    text-align: center;
}

.table-container {
    margin-top: 20px;  
    width: 800px;
}

.table-heading th {
    align-items: center;
    text-align: center;
}